@import '../../styles/variables';

.button {
  font: inherit;
  background: $button-bg;
  color: $primary-text-color;
  border: 1px solid $primary-text-color;
  border-radius: 2.813rem;
  padding: 0.875rem 1.688rem;
  cursor: pointer;
}